<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>
<link rel="stylesheet" href="css/styles.css">
</head>

<body class="body-cadastro">

<div class="cadastro-container">

    <!-- FORMULÁRIO -->
    <form th:action="@{/cadastroUsuario}" 
          th:object="${usuario}" 
          method="post" 
          class="cadastro-box">

        <h2>Criar Conta</h2>

        <div class="input-group">
            <label>Nome de Usuário</label>
            <input type="text" th:field="*{nome}" placeholder="Nome de usuário">
            <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
        </div>

        <div class="input-group">
            <label>Email</label>
            <input type="email" th:field="*{email}" placeholder="Email ">
            <div th:if="${#fields.hasErrors('email')}" 
                 th:errors="*{email}" 
                 class="error-message"></div>
        </div>

        <div class="input-group">
            <label>Senha</label>
            <input type="password" th:field="*{senha}" placeholder="Crie uma senha segura">
        </div>

        <div class="input-group">
            <label>Confirmar Senha</label>
            <input type="password" th:field="*{confirmarSenha}">
            <div th:if="${#fields.hasErrors('confirmarSenha')}" 
                 th:errors="*{confirmarSenha}" 
                 class="error-message"></div>
        </div>

        <button type="submit">Criar Conta</button>

        <p class="register-link">
            Já possui conta?
            <a th:href="@{/login}">Fazer login</a>
        </p>

    </form>

    <!-- CONTEÚDO EXPLICATIVO -->
    <div class="Conteudo-Cadastro">

    <div class="conteudo-header">
        <h2>Sistema de Tickets</h2>
        <p>Gerencie tarefas, solicitações e problemas em um único lugar.</p>
    </div>

    <div class="tickets-cards">

        <div class="ticket-card">
            <h3>📌 Criar Tickets</h3>
            <p>Abra tickets rapidamente para registrar tarefas ou problemas.</p>
        </div>

        <div class="ticket-card">
            <h3>📊 Acompanhar Status</h3>
            <p>Veja quais tickets estão abertos, em análise ou finalizados.</p>
        </div>

        <div class="ticket-card">
            <h3>🔒 Segurança</h3>
            <p>Sistema protegido com autenticação e controle de acesso.</p>
        </div>
        <div class="ticket-card">
            <h3>🌱 Cooperação</h3>
            <p>Ajude os técnicos a resolver problemas mais rapidamente.</p>
        </div>
    </div>

    <div class="conteudo-footer">
        <div class="ticket-card">
                <h4>✨ Crie sua conta e faça login para acessar o dashboard e começar a gerenciar seus tickets.</h4>
                <h4>✨ Seja um técnico e contribua para a resolução de problemas.</h4>
                <h4>✨ Seus tickets são privados.</h4>
        </div>
        </div>


</div>

</div>

</body>
